table{
    border-width: 4px;
    border-color: green;
    border-style: solid;
    border-collapse: collapse; 
    text-align: center;
    margin-left: 400px;
    margin-top: 80px;
    width: 500px;
}
td, th{
    border-width: 4px;
    border-color: green;
    border-style: solid;
}